Repository HYF-Class22/agile-development-group3-hyf-redesign, pull requests merged in 2024-02, with the labels that each got.

#19 add user-persona.md
  .cspell.json
  planning/user-personas.md
Labels: md

#24 add bullet points to the personas of volunteer and person from company
  planning/user-personas.md
Labels: md

#23 add photo to index.html
  codingstudents.jpg
  index.html
Labels: html

#22 add main to index.html
  index.html
Labels: html

#26 add main to index.css
  styles/index.css
Labels: css

#28 changed photo
  codingstudents.jpg
  index.html
Labels: html

#29 Add photo to index css
  styles/index.css
Labels: css

#27 modified tags around articles for styling
  index.html
Labels: html

#35 add user links
  index.html
  package-lock.json
Labels: html

#33 update form css
  styles/index.css
Labels: css

#44 add styling to photo in index.css
  styles/index.css
Labels: css

#49 move photos to public
  index.html
  public/codingstudents.jpg
  public/codingstudents2.jpeg
Labels: html

#54 update on form html
  index.html
Labels: html

#53 add communication md file
  .cspell.json
  planning/communication.md
Labels: md

#62 add retrospective.md
  planning/retrospective.md
Labels: md

#63 update form css
  styles/index.css
Labels: css

#66 add update form html
  index.html
Labels: html

#69 add development strategyMd
  planning/development-strategy.md
Labels: md

#65 add users link css
  styles/index.css
Labels: css
